@import 'tailwindcss';

@theme {
  --font-family-sigmar: var(--font-sigmar);
  --font-family-seaweed-script: var(--font-seaweed-script);
  --font-family-tan-ny: var(--font-tan-ny);

  --color-primary: #D6A6EF;
  --color-lila: #8272AC;
  --color-auba: #1F1D23;
  --color-viola: #687FDE;
}

body {
  font-family: var(--font-inter), sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee {
  animation: marquee 80s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 80s linear infinite;
}
